* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", serif;
    
}


nav {
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

nav .container {
    border-radius: 50px;
    box-shadow: 2px 2px 4px 2px #00000029;
    width: 75%;
    height: 70%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #0F2943;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

nav .icons img {
    width: 20px;
}

nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 15%;
    height: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    width: 35%;
    height: 100%;
    gap: 30px;
    font-size: 16px;
    position: relative;
}

.nav-menu li {
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: #10151A;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    padding: 5px;
    display: block;
}

.nav-menu a:hover {
    color: #EA8247;
}

.nav-menu .active {
    color: #EA8247;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 2px #00000029;
    padding: 10px 0;
    width: 200px;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-menu li {
    display: block;
    padding: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.deep-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 2px #00000029;
    padding: 10px 0;
    width: 180px;
    border-radius: 5px;
}

.deep-dropdown {
    position: relative;
}

.deep-dropdown:hover .deep-menu {
    display: block;
}

.dropdown a{
    display: flex;
}
.down-arrow img {
    width: 12px;
    margin-left: 5px;
}

/*Hero Section*/

.hero{
    width: 100%;
    height: 80vh;
    padding: 150px 250px 100px 250px;
    display: flex;
    background: #FFFFFF;
    gap: 50px;
    align-items: center;
}
.hero_text{
    width: 50%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;

    gap: 20px;
    height: 80%;
}
.hero_text h1{
    font-size: 50px;
    font-weight: 600;
    color: #0F2943;
    margin-bottom: 20px;
}
.hero_text p{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(10, 15, 20, 0.8);
    margin-top: 10px;
}
.hero_text .buttons button{
    width: fit-content;
    padding: 20px 35px;
    outline: none;
    border: 1px solid #EA8247;
    border-radius: 50px;
    background: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #EA8247;
}
.hero_text .buttons button:hover{
    background: #EA8247;
    color: #FFFFFF;
}
.hero_text .buttons .active:hover{
 background: #ea8347df;
}
.hero_text .buttons .active{
    background: #EA8247;
    color: #FFFFFF;
}
.hero_text .buttons{
 display: flex;
 gap: 10px;
}

.hero_text .state{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
.hero_text .state p{
    font-size: 16px;
}
.hero_text .state h1{
    font-size: 40px;
    font-weight: 600;
    color: #0F2943;
}

/*--------------*/
.hero_image{
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hero_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   
}

.hero_image .shape_1{
    position: absolute;
    width: 300px;
    height: 300px;
    
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background: #ea834765;
    right:0 ;  
    top: 0;
    z-index: -1;
}

.hero_image .shape_2{
    position: absolute;
    width: 250px;    
    height: 250px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background: rgba(128, 128, 128, 0.152);
    left: 0;
    bottom: 0;
    z-index: -1;
}

/*About section*/

.about{
    background: #faf9fb;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top: 10px;
    gap: 15px;
}

.about svg{
    width: 200px;
    color: #EA8247;
    
}
/* .about img{
    width: 200px;
   
} */

.about h1{
    font-size:42px ;
    font-weight: 700;
    color: #734C3B;
    margin-top: 80px;
}

.about p{
    font-size: 16px;
    font-weight: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(10, 15, 20, 0.8);
}

.aboutMe{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.about_image{
    
    width: 50%;
    height: auto;
    
}

.about_image img{    
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.about_text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.about_text h6{
    font-size: 16px;
    font-weight: 600;
    color: #EA8247;
    margin-bottom: 20px;
    font-family: "Roboto", serif;
    letter-spacing: 2px;
}
.about_text h2{
    font-size: 42px;
    font-weight: 700;
    color: #0F2943;
    margin-bottom: 20px;
}
.about_text p{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: rgba(10, 15, 20, 0.8);
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.5;
    
}
.about_text h5{
    font-size: 18px;
    font-weight: 400;
}

.about_info{
    
    border-radius: 10px;
    width: 90%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 32px;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px 2px #00000029;
    line-height: .5;
    gap: 10px;

   
}
.about_info p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.721);
}

.about_info h3{
    font-size: 20px;
    font-weight: 700;
    color: #0F2943;
    
}



.signature{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.signature img{
    width: 25%;
    height: 45%;
    
}

.signature_text h3{
    font-size: 20px;
    font-weight: 700;
    color: #0F2943;
}

.signature_text p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.721);
}

/*skills section*/

.skills{
height: 30vh;
background: #FFFFFF;
padding: 50px 0;
}

.skills .container{
    padding: 0px 250px;
}

.skills_container{
    display: flex;
    gap: 30px;
    
}

 .skill_card{
    width: calc((100% - 120px)/4);
    
    background: #FFFFFF;
    box-shadow: 2px 2px 4px 2px #00000029;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    gap: 20px;
}
 
.skill_card h2{
    padding-bottom: 10px;
    font-weight: 800;
    color: #0F2943;
    font-size: 22px;
}

.skill_card p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.792);
    margin-bottom: 10px;
}

.scill_card_progress{
    
    display: flex;
    flex-direction: column;
    align-items: end;    
    gap: 5px;
}

.scill_card_progress_bar{
    width: 100%;
    height: 8px;
    background: #aaa;
    border-radius: 30px;
}
.scill_card_progress_bar span{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    display: block;
    background: #EA8247; ;
}

.scill_card_progress_bar_2{
    width: 100%;
    height: 8px;
    background: #aaa;
    border-radius: 30px;
}
.scill_card_progress_bar_2 span{
    width: 80%;
    height: 100%;
    border-radius: 30px;
    display: block;
    background: #EA8247; ;
}

.scill_card_progress_bar_3{
    width: 100%;
    height: 8px;
    background: #aaa;
    border-radius: 30px;
}
.scill_card_progress_bar_3 span{    
    width: 55%;
    height: 100%;    
    border-radius: 30px;
    display: block;
    background: #EA8247; ;
}

/*resume section*/

.resume{
    height: 35vh;
    background: #FFFFFF;
    padding: 70px 0;
}

.resume .container{
    padding: 0px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resume .container h1{
    margin-bottom: 20px;
    color: #704B3C;
    font-size: 40px;
}

.resume .container svg{
    margin-bottom: 20px;
    color: #EA8247;
    width: 200px;
}

.resume .container p{
    margin-bottom: 30px;
    color: rgba(3, 3, 3, 0.756);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resume_2{
    height: 65vh;
    background: #FFFFFF;
    padding: 0px 250px;
    margin-bottom: 30px;
    font-family: 'questrial',sans-serif;
}

.resume_2 .work_experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resume_2 .work_experience h1{
    color: #0F2943;
    font-size: 35px;
    font-weight: 700;
}

.resume_2 .work_experience p{
    color: rgba(20, 20, 20, 0.875);
    font-size: 20px;
    font-weight: 400;
}

.resume_2 .work_experience_container{
    width: 90%;
    height: 53vh;
    margin-top: 50px; 
    display: flex;
    gap: 20px;
}

.resume_2 .work_experience_container .work_place{
    width: 25%;
    height: 100%;
    border-right: 2px solid #ea83472d;
}
.resume_2 .work_experience_container .work_position{
    width: 75%;
    height: 100%;
    
}

.resume_2 .work_experience_container .work_place h5{
    color: #0F2943;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume_2 .work_experience_container .work_place p{
  color: #EA8247;  
}
.resume_2 .work_experience_container .work_place .work_place_1{
    position: relative;
}
.resume_2 .work_experience_container .work_place .work_place_1 span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #EA8247;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(50%, -50%);
    
}

.resume_2 .work_experience_container .work_position .work_position_1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    margin-bottom: 80px;
}

.resume_2 .work_experience_container .work_position .work_position_1 h3{
    color: #0F2943;
    font-size: 20px;
    font-weight: 600;
}
.resume_2 .work_experience_container .work_position .work_position_1 p{
    color: rgba(20, 20, 20, 0.733);
    font-size: 16px;
    font-weight: 500;
}

.resume_2 .work_experience_container .work_position .work_position_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 20px;
}

.resume_2 .work_experience_container .work_position .work_position_2 h3{
    color: #0F2943;
    font-size: 20px;
    font-weight: 600;
}

.resume_2 .work_experience_container .work_position .work_position_2 p{
    color: rgba(20, 20, 20, 0.733);
    font-size: 16px;
    font-weight: 500;
}

.resume_2 .work_experience_container .work_position .work_position_2 ul{
    /* color: rgba(20, 20, 20, 0.733); */
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    line-height: 1.8;
}

.resume_2 .work_experience_container .work_place .work_place_2{
    position: relative;
    margin-top: 105px;
}
.resume_2 .work_experience_container .work_place .work_place_2 span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #EA8247;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(50%, -50%);
    
}

.resume_2 .work_experience_container .work_position .work_position_3{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 20px;
    margin-top: 70px;

}

.resume_2 .work_experience_container .work_position .work_position_3 h3{
    color: #0F2943;
    font-size: 20px;
    font-weight: 600;
}

.resume_2 .work_experience_container .work_position .work_position_3 p{
    color: rgba(20, 20, 20, 0.733);
    font-size: 16px;
    font-weight: 500;
}

.resume_2 .work_experience_container .work_place .work_place_3{
    position: relative;
    margin-top: 220px;
}
.resume_2 .work_experience_container .work_place .work_place_3 span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #EA8247;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(50%, -50%);
    
}

/*Education section*/

.resume_3{
    width: 100%;
    height: 60vh;
    padding: 70px 250px;
}

.resume_3 .education h1{
    color: #0F2943;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.resume_3 .education p{
    color: rgba(3, 3, 3, 0.57);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
}

.resume_3 .education_container{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.resume_3 .education_container .education_place{
    width: 22.5%;
    border-right: 2px #ea83472d solid;
    position: relative;
}

.resume_3 .education_container .education_content{
    width: 75%;
    height: 100px;
    padding-left: 30px;
}

.resume_3 .education_container .education_place h5{
    color: #0F2943;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume_3 .education_container .education_place p{
    color: #EA8247;
}

.resume_3 .education_container .education_place span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #EA8247;
    position: absolute;
    top: 10px;
    right: 0;
    transform: translate(50%, -50%);
}    

.resume_3 .education_container .education_content h3{
    color: #0F2943;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume_3 .education_container .education_content p{
    color: rgba(3, 3, 3, 0.57);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
}

.resume_3 .education_container .education_content .education_content_1{
    margin-bottom: 50px;
}
.resume_3 .education_container .education_content .education_content_1 span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #EA8247;
}

.resume_3 .education_container .education_place .education_place_2{
    position: relative;
    margin-bottom: 50px;
    margin-top: 60px;
}
.resume_3 .education_container .education_place .education_place_2 span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #EA8247;
    position: absolute;
    top: 10px;
    right: 0;
}

.resume_3 .education_container .education_content .education_content_3{
    margin-top: 50px;
}

.resume_3 .education_container .education_place .education_place_3{
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
}
.resume_3 .education_container .education_place .education_place_3 span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background: #EA8247;
    position: absolute;
    top: 10px;
    right: 0;
}


/*portfolio section*/

.Portfolio{
    width: 100%;
    padding: 50px 250px;
}

.Portfolio .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Portfolio .container h1{
    color: #704B3C;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.Portfolio .container svg{
   width: 200px;
   color: #EA8247;
}

.Portfolio .container p{
    color: rgba(3, 3, 3, 0.57);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    text-align: center;
}

.Portfolio_nav_container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.Portfolio_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Portfolio_nav button{
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    background: white;
}

.Portfolio_nav .active{
    background: #E87533;
    color: #FFFFFF;
}

.Portfolio_nav button:hover{
    background: #fa7d3432;
    color: #fa7d34;
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Portfolio_nav .active:hover{
    background: #ea8347df;
    color: #FFFFFF;
}

/*Portfolio gallery section*/


.Portfolio_gallery_container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.Portfolio_gallery_container .Portfolio_gallery{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1{
    width: calc((100% - 60px)/2);
    height: 555px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 0px #00000007;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    position: relative;
}
.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_text h6{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'roboto' , sans-serif;
    font-weight: 400;
    color: #EA8247;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_text h3{
    font-size: 24px;
    font-family: 'questrial' , sans-serif;
    font-weight: 600;
    color: #0F2943;
}
.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_text h3:hover{
    color: #EA8247;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_text p{
    font-size: 16px;
    font-family: 'questrial' , sans-serif;
    font-weight: 400;
    color: #0F2943;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image .eye{
    position: absolute;
    display: block;
    bottom: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #EA8247;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image .eye svg{
    width: 30px;
    height: 20px;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image .eye:hover{
    background: #EA8247;
    color: #FFFFFF;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image .direction{
    position: absolute;
    display: block;
    bottom: 25px;
    left: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #EA8247;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image .direction svg{
    width: 30px;
    height: 20px;
}

.Portfolio_gallery_container .Portfolio_gallery .card_1 .card_image .direction:hover{
    background: #EA8247;
    color: #FFFFFF;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top,rgb(0, 0, 0), rgba(255, 255, 255, 0.229)) ;
    opacity: 0.7;
    display: none;
    /* transition: 0.3s ease-in-out; */
}

.layer_2{
    position: relative;
   
    display: none;
}


.Portfolio_gallery_container .Portfolio_gallery .card_1:hover{
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
 .layer{
    display: block;    
}
.layer_2{
    display: block;
    }
}

/*Testimonials section*/


.testimonials{
    width: 100%;
    padding: 50px 250px;
    background: #FAF9FB;
}

.testimonials .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonials .container h1{
    color: #704B3C;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.testimonials .container svg{
   width: 200px;
   color: #EA8247;
}

.testimonials .container p{
    color: rgba(3, 3, 3, 0.57);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    text-align: center;
}


.testimonials_container{
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    border-radius: 15px;
    margin-top: 30px;

}

.testimonials_container .testimonials_text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.testimonials_container .testimonials_text h1{
    color: #0F2943;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.testimonials_container .testimonials_text p{
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
}

.testimonials_avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.testimonials_avatar{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.testimonials_avatar h3{
    color: #0F2943;
    font-size: 18px;
    font-weight: 700;
}
.testimonials_avatar  span{
    font-size: 14px;
    color: rgba(3, 3, 3, 0.57);
}
.testimonials_container .testimonials_image{
    width: 30%;
    height: 100%;
    border-radius: 15px;
}

.testimonials_container .testimonials_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.swaper{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.swaper .swap_right{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.514);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swaper .swap_left{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.514);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
 
.swaper .swap_left svg{
    width: 20px;
    height: 20px;
}

.swaper .swap_right svg {
    width: 20px;
    height: 20px;
}

.swaper .swap_left:hover{
    background: #EA8247;
    color: #FFFFFF;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}
.swaper .swap_right:hover{
    background: #EA8247;
    color: #FFFFFF;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}

/*service section*/

.service{
    width: 100%;
    height: 100vh;
    background: #FAF9FB;
}

.services .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 250px;
}

.services .container h1{
    color: #704B3C;
    font-size: 40px;
    margin-bottom: 10px;
}

.services .container svg{
    width: 200px;
    color: #EA8247;
}

.services .container p{
    font-size: 16px;
    color: rgba(3, 3, 3, 0.57);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
}

.services .container_2{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.services_cards_container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.services_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
}

.services_text h1{
    color: #0F2943;
    font-size: 50px;
    margin-bottom: 10px;
}

.services_text p{
    font-size: 18px;
}

.services_text button{
    padding: 15px 25px;
    outline: none;
    border: 1px solid #EA8247;
    color: #EA8247;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    background: white;
}

.services_text button:hover{
    background: #EA8247;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}

.services_cards{
    width: 60%;
   
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.services_cards_1{
    width: calc((100% - 40px)/2);
    height: 250px;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #00000029;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.services_cards_1:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.services_cards_1 svg{
    width: 50px;
    height: 100px;
    color: #EA8247;
    
}

.services_cards_1 h3{
    color: #0F2943;
    font-size: 20px;
    font-weight: 400;
}
.services_cards_1 h3:hover{
    color: #EA8247;
    transition: 0.3s ease-in-out;
}

.services_cards_1 p{    
    color: rgba(3, 3, 3, 0.57);
    font-size: 16px;
    line-height: 1.3;
}

/*requently section*/

.frequently{
    width: 100%;
    height: 100vh;
}

.frequently .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 250px;
}

.frequently .container h1{
    color: #704B3C;
    font-size: 40px;
    margin-bottom: 10px;
}

.frequently .container svg{
    width: 200px;
    color: #EA8247;
}

.frequently .container p{
    font-size: 16px;
    color: rgba(3, 3, 3, 0.57);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
}

.frequently .container_2{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.frequently_container{
    width: 60%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frequently_container_1{
    border: 1px solid #ea834787;
    padding: 15px 20px;
    background: #ea83470A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frequently_container_1 h2{
    color: #E87533;
    font-size: 20px;
    font-weight: 400;
}

.frequently_container_1 p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.frequently_container_1 div{
    display: flex;
    justify-content: space-between;
}
.frequently_container_1 div svg{
    width: 20px;
    height: 25px;
    color: #E87533;
}

.frequently_container_2{
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.frequently_container_2 h2{
    color: #0F2943;
    font-size: 18px;
    font-weight: 600;
}
.frequently_container_2 h2:hover{
    color: #E87533;
}
.frequently_container_2 svg:hover{
    color: #E87533;
}

/*contact section*/

.contact {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FAF9FB;
}
.contact .container{
    width: 70%;
    height: 100%;
    padding: 30px;
    display: flex;
    gap: 20px;
}

.contact .container .contact_left{
    width: 50%;
    height: 100%;
}

.contact .container .contact_right{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
    box-shadow: 2px 1px 4px 1px #00000029;
    border-radius: 15px;
    background: #FFFFFF;
    
}
.contact .container .contact_right input{
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    outline: none;
   
}

.contact .container .contact_right input:hover{
     border: 1px solid #e875335c;
     box-shadow: #ea83472b 0px 0px 0px 2px;
}
.contact .container .contact_right textarea{
    width: 100%;
    height: 200px;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    outline: none;
}
.contact .container .contact_right textarea:hover{
    border: 1px solid #e875335c;
    box-shadow: #ea83472b 0px 0px 0px 2px;
}

.contact .container .contact_right button{
    width: 100%;
    height: 50px;
    background: #E87533;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.contact .container .contact_right button:hover{
    background: #ea8347df;
    transform: translateY(-1px);
}
.contact_left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.contact_left h6{
    color: #0F2943;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.contact_left h1{
    color: #0F2943;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}

.contact_left p{
    color: rgba(3, 3, 3, 0.789);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact_left div{
    display: flex;
    gap: 20px;
}

.contact_left div svg{
    width: 20px;
    height: 20px;
    color: #E87533;
}
.contact_left div p{
    font-size: 18px;
    font-weight: 500;
}

.contact_left .map h3{
    color: #0F2943;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact_left .map svg{
    width: 20px;
    height: 20px;
    color: #0F2943;
}

.contact_left .map h3:hover{
    color: #E87533;
}

.contact_left .map svg:hover{
    color: #E87533; 
}


/*footer section*/

footer{
    width: 100%;
    height: 20vh;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container{
    width: 70%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .container .social_media{
    display: flex;
    gap: 20px;
}

footer .container .social_media div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #02020287;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
footer .container .social_media div img{
    width: 20px;
    height: 20px;
}

footer .container h6{
    font-size: 14px;
    font-weight: 400;
}

footer .container h6 span{
    color: black; 
    font-weight: 600;
}

footer .container p span{
    color: #E87533;
}